* {
  margin: 0;
  padding: 0;
}

.container {
  /* text-align: center; */
}

.container {
  font-size: 28px;
  font-family: "Roboto";
  /* font-weight: bold; */
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 40px;
}

/* Header content */
.header {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background-color: #fafafa;
  display: grid;
  box-shadow: 3px 2px 3px rgb(153, 152, 152);
}
.head-top {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 0.5fr 0.5fr 1fr;
  margin: 20px 0;
  align-items: center;
}
.glass {
  font-size: 15px;
  grid-column: 1/2;
  justify-self: end;
  margin-right: 20px;
}
.search {
  width: 100%;
  height: 25px;
  border-radius: 15px;
  border: none;
  grid-column: 2/3;
  background-color: #e2e8f0;
}

.bell {
  grid-column: 3/4;
  justify-self: end;
}
.user {
  grid-column: 4/5;
  justify-self: center;
}

.user2 {
  justify-self: center;
  align-self: center;
  padding-left: 20px;
}

.head-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.head-icon {
  height: 80px;
  width: 80px;
  /* grid-column: 1/2; */
  align-self: center;
  justify-self: end;
}

.username-bottom {
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
}

.btn-1 {
  box-sizing: border-box;
  padding: 12px 38px;
  border-radius: 999px;
  background-color: #38bdf8;
  font-weight: 900;
  overflow: hidden;
  border: 1px solid currentColor;
  max-width: fit-content;
  transition: background-color 0.5s;
}
.btn-1:hover {
  color: white;
  background-color: #32a4d4;
}

a {
  text-decoration: none;
  color: white;
}

.list-item > a:hover {
  color: black;
}
.btna {
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
}
.btnb {
  grid-column: 4/5;
  align-self: center;
  justify-self: center;
}
.btnc {
  grid-column: 5/6;
  align-self: center;
  justify-self: start;
}
/* Sidebar content */
.sidebar {
  background-color: #38bdf8;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  box-shadow: 3px 2px 3px rgb(153, 152, 152);
}

.top-menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 16px;
  font-weight: bold;
  align-self: end;
}
.middle-menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.bottom-menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu-list > li,
.icon > li {
  padding: 10px 0;
}
.menu-list {
  grid-column: 2/3;
}
.icon {
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
}

/* Main content */
.main {
  background-color: #e2e8f0;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr;
  padding-bottom: 40px;
  box-shadow: 3px 2px 3px rgb(153, 152, 152);
}

.yp {
  grid-area: 1 / 1/2 /2;
  align-self: end;
  margin-left: 20px;
}

.ann {
  grid-area: 1/ 2/2 /3;
  align-self: end;
}

.projects {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding-left: 15px;
  max-width: 650px;
  align-items: center;
}

.projects .card {
  height: 200px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 3px 2px 3px rgb(153, 152, 152);
  border-left: 9px solid #d19410;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card-list {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.card-info {
  grid-row: 1/2;
  align-self: center;
  padding-left: 20px;
}
.card-title {
  font-size: 18px;
  font-weight: bolder;
}
.card-summary {
  font-size: 14px;
  color: rgb(107, 114, 114);
}

.social {
  grid-row: 2/3;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 20px;
  grid-template-rows: 2fr 10px 1.75fr 10px;
  gap: 15px;
}

.side-card {
  height: 260px;
  width: 230px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 2px 3px rgb(153, 152, 152);
  max-width: 300px;
}

.announce {
  grid-row: 1/2;
  padding-bottom: 35px;
  /* justify-self: center; */
  align-self: end;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 1fr 1fr 1fr;
}

.paragraph-1 {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.paragraph-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.paragraph-3 {
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
}

.announce-title {
  font-size: 14px;
  font-weight: bold;
}

.announce-info {
  font-size: 12px;
}
.trending {
  grid-row: 2/3;
  padding-bottom: 10px;
  align-self: center;
  padding-top: 10px;
}

.trend {
  grid-row: 3/4;
  align-self: end;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.tegan {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.pic {
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.cute-img {
  width: 40px;
  border-radius: 99%;
  /* grid-row: 1/2; */
}

.cute-img-lion {
  width: 50px;
  border-radius: 99%;
}

.tag {
  font-size: 16px;
  grid-row: 1/2;
  align-self: end;
}

.tag > a {
  color: black;
}

.tag > a:hover {
  color: #d19410;
}
.desc-title {
  font-size: 10px;
  grid-row: 2/3;
  padding-top: 2px;
  align-self: start;
  color: dimgray;
}

.morgan {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.kendall {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.alex {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
